@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 1.25rem 2.5rem;

  //   width: 100%;
  //   margin: 0 auto;
  min-height: 100vh;
  @include themify("background", "background_color");
  background-size: auto;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .container {
    max-width: 60rem;
    margin: 0 auto;
    // width: 80%;

    // padding: 0 2rem;

    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
