@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  padding: 1.25rem 2.5rem;

  min-height: 100vh;
  @include themify("background", "background_color");
  background-size: auto;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .container {
    max-width: 60rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 98em) {
  .home {
    @include themify("background", "background_color_wide");

    .container {
      max-width: 85rem;
    }
  }
}
