@use "../../styles/mixins" as *;

::-webkit-scrollbar {
  height: 0.4rem;
  border-radius: 1.5rem;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: rgba(#5a7cb3, 0.7);
  border-radius: 1.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#5a7cb3, 0.9);
}

.forecast_container {
  border-radius: 25px;
  padding: 10px 25px;

  @include themify("background", "forecast_box_color");
  background-size: auto;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);

  .title {
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 600;
    @include themify("color", "forecast_title_color");
  }

  .forecast_box {
    display: flex;
    height: 10rem;
    // padding: 10px 15px;
    // gap: 15px;
    justify-content: space-between;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .forecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 120px;

      //   border-radius: 25px;
      //   transition: all 0.2s;
      //   cursor: pointer;

      //   &:hover {
      //     @include themify("background", "forecast_box_color");
      //     box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
      //   }

      .forecast_title {
        font-size: 1.2rem;
        font-weight: 500;
        @include themify("color", "forecast_text_color");
      }

      .forecast_detail {
        font-size: 1.2rem;
        font-weight: 600;
        @include themify("color", "forecast_title_color");
      }

      .forecast_temp {
        font-size: 1.2rem;
        @include themify("color", "forecast_text_color");
      }
    }
  }

  .centered {
    justify-content: space-between;
  }
}

@media (max-width: 35em) {
  .forecast_container {
    border-radius: 25px;
    padding: 10px 25px;

    @include themify("background", "forecast_box_color");
    background-size: auto;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);

    .title {
      line-height: 2;
      font-size: 1.2rem;
      font-weight: 600;
      @include themify("color", "title_color");
    }

    .forecast_box {
      height: 10rem;

      .forecast {
        min-width: 80px;

        .forecast_title {
          font-size: 1rem;
        }

        .forecast_detail {
          font-size: 1rem;
        }

        .forecast_temp {
          font-size: 1rem;
        }
      }
    }
  }
}
