@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

::-webkit-scrollbar {
  height: 0.4rem;
  border-radius: 1.5rem;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 1.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.forecast_container {
  border-radius: 25px;
  padding: 10px 25px;

  @include themify("background", "forecast_box_color");
  background-size: auto;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);

  .forecast_container_title {
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .forecast_box {
    display: flex;
    // justify-content: space-around;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .forecast {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 150px;

      .forecast_title {
        font-size: 1.2rem;
      }

      .forecast_detail {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .forecast_temp {
        font-size: 1.2rem;
      }
    }
  }
}
