@import "../../styles/variables";

.container {
  position: relative;

  .cloud {
    position: absolute;
    top: 50%;
    left: -90%;
    z-index: 1;
  }

  .icon__shadow {
    position: absolute;
    left: 30rem;
    top: -25rem;
    width: 18rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: -36rem 38rem 7rem darken($bg_blue, 20%);
  }
}
