@use "../../styles/mixins" as *;
@import "../../styles/variables";

.container {
  position: relative;

  .cloud {
    position: absolute;
    top: 50%;
    left: -90%;
    z-index: 1;
  }

  .icon__shadow {
    @include shadow;
  }
}
