@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html,
// body {
//   overflow-x: hidden;
// }

body {
  padding: 1.25rem;
  width: 60rem;
  margin: 0 auto;
  // min-height: 100vh;
  background: linear-gradient(to bottom, $bg_light_blue, $bg_blue) fixed;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.float {
  animation: float 3s linear infinite;
}
