@use "../../styles/mixins" as *;

.search_bar {
  @include themify("background", "searchbar_color");
  height: 3.5rem;

  border-radius: 50px;
  padding: 1.5625rem;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  // .icon_btn {
  //   @include reset_btn;
  //   cursor: pointer;

  .icon {
    font-size: 1.5rem;
    @include themify("color", "text_color");
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      @include themify("color", "title_color");
      transform: scale(1.1);
    }
    // }
  }

  input {
    width: 100%;
    font-size: 1.4rem;
    @include themify("color", "title_color");
    border: none;
    background: transparent;
    text-transform: capitalize;

    &::placeholder {
      font-size: 1.2rem;
      text-transform: lowercase;
      color: rgb(231, 231, 231);
    }

    &:focus {
      outline: none;
    }
  }
}

.units {
  display: flex;
  gap: 1.25rem;

  .unit_btn {
    @include reset_btn;
    @include themify("background", "btn_color");
    @include themify("color", "btn_text");

    font-size: 1.2rem;
    padding: 5px;
    width: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      @include themify("background", "btn_hover");
    }
  }
}
