@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.details_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .weather_details {
    padding: 10px;

    .weather_detail {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 10px 0;

      .weather_details_icon {
        @include themify("color", "text_color");
      }

      p {
        @include themify("color", "text_color");
        font-weight: 500;
      }

      span {
        @include themify("color", "text_color");
        font-weight: 500;
      }
    }
  }
}
