$cloudy_night: (
  background_color: (
    url(../assets/backgrounds/cloudy_night_md.svg) repeat,
    linear-gradient(to bottom, #020d18, #15366f) fixed,
  ),
  background_color_wide: (
    url(../assets/backgrounds/cloudy_night_bg.svg) repeat,
    linear-gradient(to bottom, #020d18, #15366f) fixed,
  ),
  background_color_small: (
    url(../assets/backgrounds/cloudy_night_sm.svg) repeat,
    linear-gradient(to bottom, #020d18, #15366f) fixed,
  ),
  searchbar_color: #494f77,
  weather_box_color: linear-gradient(90deg, #41466a, #292c42),
  forecast_box_color: rgba(#393e5c, 0.9),
  text_color: #dfdfe0,
  title_color: #a5a7b4,

  forecast_title_color: #a5a7b4,
  forecast_text_color: #dfdfe0,

  btn_color: #515884,
  btn_hover: #424767,
  btn_text: #fff,
);
