@use "./variables" as *;
@import "./day.scss";
@import "./afternoon.scss";
@import "./night.scss";

$themes: (
  day: $day,
  afternoon: $afternoon,
  night: $night,
);

@mixin themify($property, $key) {
  @each $theme, $color in $themes {
    &.#{$theme} {
      #{$property}: map-get($color, $key);
    }
  }
}

@mixin shadow {
  position: absolute;
  left: 30rem;
  top: -25rem;
  width: 18rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: -36rem 38rem 7rem darken($bg_light_blue, 10%);
}
