@import "./variables";

@mixin shadow {
  position: absolute;
  left: 30rem;
  top: -25rem;
  width: 18rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: -36rem 38rem 7rem darken($bg_light_blue, 10%);
}
