$night: (
  background_color: (
    url(../assets/Clouds-200s.svg) repeat,
    linear-gradient(to bottom, #1f6cd8, #8d94ee, #bda1e1, #ea9fa8, #c66496)
      fixed,
  ),
  secondary: #26ccc9,
  tertiary: #85afaf,
);
