$rain: (
  background_color: (
    url(../assets/backgrounds/cloudy_md.svg) repeat,
    linear-gradient(to bottom, #87b0f0, #b1c0d4) fixed,
  ),
  background_color_small: (
    url(../assets/backgrounds/cloudy_md.svg) repeat,
    linear-gradient(to bottom, #87b0f0, #b1c0d4) fixed,
  ),
  background_color_wide: (
    url(../assets/backgrounds/cloudy_bg.svg) repeat,
    linear-gradient(to bottom, #4e71a9, #b1c0d4) fixed,
  ),
  searchbar_color: #849fc1,

  weather_box_color: linear-gradient(90deg, #b1c0d4, #4e71a9),
  forecast_box_color: rgba(#b1c0d4, 0.7),
  text_color: #ededed,
  title_color: #fff,

  forecast_title_color: #4e71a9,
  forecast_text_color: #4e71a9,

  btn_color: #fff,
  btn_hover: rgba(226, 240, 251, 1),
  btn_text: #000,
);
