$bg_light_blue: #c3e6f9;
$bg_blue: #31a1ec;

// $bg_light_blue: #092b56;
// $bg_blue: #051a33;

$baby_blue: rgba(226, 240, 251, 1);
$white: #fff;
$black: #000;

$yellow: #f0ca43;
$darker_yellow: #f0b343;
$orange: #f09559;

$cloud_color: 255, 255, 255;

$title_color: #4581c5;
$text_color: #7b98b2;
