$bg_light_blue: #b4e0f8;
$bg_blue: #31a1ec;
$baby_blue: rgba(215, 236, 253, 1);
$white: #fff;

$yellow: #f0ca43;
$darker_yellow: #f0b343;
$orange: #f09559;

$cloud_color: 255, 255, 255;

$title_color: #4581c5;
$text_color: #7b98b2;
