@use "../../styles/variables" as *;

.weather_box {
  background: $baby_blue;
  height: 20rem;
  //   width: 60rem;

  border-radius: 25px;
  padding: 0.625rem;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  position: relative;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;

  .city_info {
    display: flex;
    flex-direction: column;

    .icon_container {
      position: absolute;
      left: 15%;
      top: -10%;
    }
  }

  .weather_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 20px;
    background-color: #aea;

    .city_name {
      color: $title_color;
      font-size: 2.5rem;
      font-weight: 600;
    }

    .weather_description {
      color: $black;
      font-size: 1rem;
      text-transform: capitalize;
    }

    .temperature {
      color: $title_color;
      font-size: 3rem;
      font-weight: 500;
    }
  }
}

@media (max-width: 760px) {
  .weather_box {
    height: 40rem;
    grid-template-columns: 1fr;
  }

  // .icon_container {
  //   position: absolute;
  //   right: 15%;
  //   top: -10%;
  // }
}
