@use "../../styles/variables" as *;

.box {
  background: $baby_blue;
  //   background: linear-gradient(to bottom, $bg_light_blue, $bg_blue) fixed;

  height: 20rem;
  //   width: 60rem;

  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);

  position: relative;
}

.icon_container {
  position: absolute;
  right: 20%;
  top: -25%;
}
